$secundary: #faf8bf;
$white: #f4f4f4;
$black: #1c1c1c;

$main: var(--main);
$bg: var(--bg);

$navTitle: var(--navTitle);
$navHover: var(--navHover);

$prodBg: var(--prodBg);
$prodBordeTop: var(--prodBordeTop);
$prodButtonBg: var(--prodButtonBg);
$prodBtnBgHv: var(--prodBtnBgHv);

$cartProdBg: var(--cartProdBg);
$cartDeleteBg: var(--cartDeleteBg);
$cartDltBgHv: var(--cartDltBgHv);
$carTitle: var(--carTitle);
$cartNoTitle: var(--cartNoTitle);
$cartNoProd: var(--cartNoProd);